body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f7fa;
}

.container {
    display: flex;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.result {
    background: #4b0082;
    color: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 250px;
}

.result h2 {
    margin-bottom: 20px;
    font-size: 20px;
}

.score-circle {
    background-color: white;
    color: #6f00ff;
    width: 120px;
    height: 120px;
    margin: 0 auto 20px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.score-circle small {
    font-size: 14px;
    color: #6f00ff;
}

.score-text {
    font-size: 22px;
    margin: 10px 0;
}

.description {
    font-size: 14px;
}

.summary {
    padding: 20px;
    text-align: left;
}

.summary h3 {
    margin-bottom: 20px;
    font-size: 18px;
}

.summary ul {
    list-style: none;
    padding: 0;
}

.summary li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
}


.continue-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
