*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 307px;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
}

li{
    list-style-type: none;
}

.button{
    padding: 10px 22px;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: 12px;
    font-weight: 500px;
    border: none;
    border-radius: 2.78px;

}

body{
    font-family: sans-serif;
}
.hero{
    width: 100%;
    background-color: hsla(210, 31%, 97%, 1);
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 400px;
}
.hero-img{
    width: 272px;
    height: 283px;
}
.text h2{
    font-size: 44px;
    font-weight: 600;
    color: hsla(0, 0%, 30%, 1)
}
span{
    color: hsla(122, 39%, 49%, 1);
}

.text p{
    color: hsla(0, 0%, 44%, 1);
    font-size: 11px;
    font-weight: 400;
}

.hero-button{
    background-color: hsla(122, 39%, 49%, 1);
    padding: 10px 23px;
    border: none;
    border-radius: 3px;
    color: white;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
}
.hero-image{
    position: absolute;
    bottom: 10px;
    right: 700px ;
    margin: auto;
}